name: spring-app-advisor-workflow
on:
  push:
    branches: [main]

jobs:
  app_advisor_job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4  
      - name: Run Spring Application Advisor
        uses: eknathreddy09/spring-appadvisor-action@v1.6.0
        with:
          artifactory_token: ${{ secrets.ArtifactoryToken }}
          git_token: ${{ secrets.GH_PAT }}
          advisor_version: '1.5.4' 
