name: spring-app-advisor-workflow
on:
  push:
    branches:
      - 'main'

jobs:
  app_advisor_job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    name: Upgrade Spring Application Dependencies
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Run Spring Application Advisor
        uses: eknathreddy09/spring-appadvisor-action@v1.5.4
        env: 
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          artifactory_token: ${{ secrets.ArtifactoryToken }}
          git_token: ${{ secrets.GITHUB_TOKEN }}
          advisor_version: '1.5.4' 
